.form {
  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: $m-size;
  }

  .form-error {
    margin: 0 0 $m-size;
    font-style: italic;
  }

  .button {
    margin-right: $s-size;
  }
}